<br>
<br>
<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical ">
     <article class="tile is-child notification is-warning">
      <div class="content">
        <p class="title">Люди</p>
        <p class="subtitle">With even more content</p>
        <figure class="image is-4by4">
        <a href="https://www.nenashev.eu">
        <%= image_tag("piople.jpg",:size => "740x580", class: "button is-piople")%>
        </a>
        <div class="content">
          <!-- Content --><!p class="subtitle"><!/p>
        </div>
      </div>
     </article>
    </div>
    
    <div class="tile is-parent is-vertical ">
     <article class="tile is-child notification is-warning">
      <div class="content">
        <p class="title">Животные</p>
        <p class="subtitle">With even more content</p>
        <figure class="image is-4by4">
           <!%= link_to, articles_path%>
          <%= link_to image_tag("dag.jpg",:size => "740x580", class: "button is-dag"),articles_path %>
        <div class="content">
          <!-- Content --><!p class="subtitle"><!/p>
        </div>
      </div>
     </article>
    </div>
    
    <div class="tile is-parent is-vertical">
     <article class="tile is-child notification is-warning">
      <div class="content">
        <p class="title">Вещи</p>
        <p class="subtitle">With even more content</p>
        <figure class="image is-4by4">
        <%= link_to image_tag("thing.jpg",:size => "740x580", class:"button is-thing"),things_path%>
        <!%= link_to article_path(article),class: "button is-thing"%>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
     </article>
    </div>
</div>

<br>
<br>
